.bonus-bg {
  background-color: #121212;
}

.bonus {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 60px;
}

.bonus h1 {
  padding-top: 60px;
  padding-bottom: 32px;
}

.bonus-texto {
  max-width: 600px;
}

.bonus-texto h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.bonus-texto p:first-of-type {
  margin-bottom: 4px;
  font-size: 1.5rem;
  font-weight: 700;
}

.bonus-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  max-width: 600px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid;
  border-image: linear-gradient(270.13deg, #3f0312 38.49%, #ff0143 57.72%) 1;
}
.gap1 {
  gap: 60px;
}

.bonus-numero {
  font-size: 12.5rem;
  line-height: 1.2;
  font-weight: 700;
  background: linear-gradient(141.83deg, #970d31 29.71%, #ff0143 65.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 800px) {
  .bonus-texto p:last-of-type {
    padding-bottom: 12px;
  }
  .bonus {
    flex-wrap: wrap;
  }
}

@media (max-width: 431px) {
  .bonus-box h1 {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .bonus-numero {
    font-size: 8rem;
    line-height: 1.3;
  }

  .bonus-item {
    gap: 10px;
  }
  .gap1 {
    gap: 30px;
  }

  .bonus-texto h2 {
    font-size: 1.475rem;
  }
  .bonus-texto p:first-of-type {
    font-size: 1.275rem;
  }
}
