.modulo-item-bg {
  background-color: #f3f3f3;
}
.modulo-item-bg:nth-child(odd) {
  background-color: #fff;
}

.modulo-item-bg:nth-child(6) .modulo-titulo {
  gap: 16px;
}

.modulo-item-bg:nth-child(6) .modulo-titulo:before {
  width: 70px;
  top: 18px;
}
.aulas-mm {
  padding-bottom: 60px;
}

.aulas-mm > h1 {
  padding-top: 60px;
  padding-bottom: 40px;
}

.modulo-item > span {
  padding-top: 32px;
  display: block;
  margin-left: 68px;
}

.modulo-titulo {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.modulo-titulo:before {
  content: "";
  position: absolute;
  background-color: #ff0143;
  width: 41px;
  height: 24px;
  top: 23px;
  left: -15px;
  z-index: -1;
}

.modulo-titulo > h1 {
  font-size: 2rem;
}

.modulo-item ul {
  margin-top: 18px;
  margin-left: 68px;
  max-width: 590px;
  padding-bottom: 40px;
}

.modulo-item li + li {
  margin-top: 12px;
}
.aulas-mm-cta {
  margin-top: 32px;
}
.aulas-mm-cta p{
  margin-bottom: 12px;
}
.aulas-mm-cta p:last-of-type {
  margin-bottom: 24px;
}

@media (max-width: 431px) {
  .aulas-mm > h1 {
    font-size: 1.75rem;
  }
  .modulo-titulo {
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
  }
  .modulo-item > span,
  .modulo-item ul {
    margin-left: 0;
  }
  .modulo-titulo > h1 {
    font-size: 1.75rem;
  }
  .modulo-item-bg:nth-child(6) .modulo-titulo:before {
    width: 70px;
    top: 5px;
  }
  .modulo-item-bg:nth-child(6) .modulo-titulo {
    margin-top: 8px;
    gap: 24px;
  }
}
