.oceano h1:first-of-type {
  padding-top: 60px;
  padding-bottom: 24px;
  max-width: 960px;
}

.oceano p {
  max-width: 900px;
  margin-bottom: 12px;
}

.oceano p:nth-child(3) {
  margin: 20px 0;
}

.oceano h1  {
  padding-top: 32px;
  padding-bottom: 24px;
}

.oceano p:last-of-type {
  margin: 24px 0 40px 0;
}

.oceano ul {
  margin-top: 12px;
}

.oceano ul li {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
  }

@media (max-width:431px) {
  .oceano h1 {
    font-size: 1.75rem;
  }
}
