.form-mm-bg {
  background-color: #090909;
  padding-bottom: 60px;
  border-bottom: 4px solid;
  border-image: linear-gradient(270.13deg, #3f0312 38.49%, #ff0143 57.72%) 1;
}

.form-mm h1 {
  padding-top: 60px;
  padding-bottom: 32px;
  position: relative;
}
.form-mm h1::before {
  content: "";
  width: 25px;
  height: 6px;
  top: 103px;
  left: 3px;
  position: absolute;
  background-color: #ff0143;
}

.form-mm p {
  margin-bottom: 8px;
  max-width: 700px;
}

.form-mm p:nth-child(4) {
  margin-bottom: 40px;
}
.form-mm p:nth-child(9) {
  margin-bottom: 24px;
}
.form-mm p:nth-child(11) {
  margin-bottom: 24px;
}
.form-mm p:nth-child(12) {
  margin-bottom: 32px;
}

.form-mm form {
  margin-top: 32px;
}

form input {
  padding: 10px 20px;
  border-radius: 5px;
  height: 50px;
  width: 400px;
  background: #dedede;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 4px;
}

.dados-mm {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 24px;
}

@media (max-width: 431px) {
  .form-mm h1 {
    font-size: 1.75rem;
    line-height: 1.6;
  }
  .form-mm h1::before {
    top: 100px;
  }
  .btn-form-mm {
    padding: 10px 20px;
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .btn-form-mm {
    font-size: 1.1rem;
  }
  @media (max-width: 320px) {
    .btn-form-mm {
      font-size: 1rem;
    }
  }
}
