.bio-cq-bg {
  background-color: #121212;
  padding-bottom: 40px;
}

.bio-cq {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.bio-cq-text {
  max-width: 500px;
}
.bio-cq-text h1 {
  padding-top: 40px;
  margin-bottom: 24px;
}

.bio-cq-text p + p {
  margin-top: 12px;
}

.bio-cq-img img {
  border-radius: 5px;
  margin-top: 40px;
  width: 300px;
}

@media (max-width: 800px) {
  .bio-cq {
    flex-wrap: wrap;
    gap: 20px;
  }
  .bio-cq-img img {
    order: 1;
    margin-top: 20px;
  }
  .bio-cq-text {
    order: 2;
  }
  .bio-cq-text h1 {
    padding-top: 20px;
    font-size: 2rem;
  }
}

@media (max-width: 431px) {
  .bio-cq-text h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 375px) {
  .bio-cq-text p {
    font-size: 1rem;
    line-height: 1.5;
  }

}
