.conteudo-pr-bg {
  background-color: #090909;
  padding-bottom: 60px;
}

.conteudo-pr h1 {
  padding-top: 60px;
  padding-bottom: 24px;
}

.conteudo-pr p {
  max-width: 600px;
}
.conteudo-pr-lista {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  justify-content: center;
}

.conteudo-pr-lista li img {
  width: 260px;
  box-shadow: 1px 1px 5px 2px rgba(255, 0, 78, 0.2);
  border-radius: 5px;
}

@media (max-width: 431px) {
  .conteudo-pr-lista {
    gap: 18px;
  }
.conteudo-pr-lista li img {
  width: 240px;
}
}
